<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue.js</title>
        <meta name="description" content="Vue">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="vue.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="./vue.js" defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <!--Templates-->
            <!-- this calls the username in the data  object -> in vue.js -->
            <!--if the username in data changes, here too!-->
            <h2>Hello, {{ username }}</h2>
            <p> {{bio}} </p>

            <!--Directives-->
            <input v-model="username" />
            <ul>
                <li v-for="todo in todoList">{{ todo }}</li>
            </ul>
            <button v-if="userIsLoggedIn">Log Out</button>
            <button v-if="!userIsLoggedIn">Log In</button>
            <button v-on:click="tweets.push(newTweet)">Add Tweet</button>

        </div>
    </body>
</html>